{{ define "layout" }}

<!DOCTYPE html>
<html>
    <head>
        {{ template "head" . }}
    </head>
    <body>
        <div class='container'>
            {{ template "content" . }}
        </div>

        <!-- Optional JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.15/bootstrap-native-v4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/4.1.0/superagent.min.js" integrity="sha256-XwGIb0dW2d+hM8XPl9RcTbaNJoTfQ/xKV1n5EBYH0n4=" crossorigin="anonymous"></script>
        {{ template "script" . }}
    </body>
</html>

{{ end }}
